@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

@keyframes slide {
    0% {
        display: none;
        filter: opacity(0);
        transform: translateY(100%);
    }
    50% {
        filter: opacity(1);
        transform: translateY(0);
        background-color: #fff0;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
    100% {
        background-color: #fff7;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
    }
}

body, html {
    width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #b4dbd0;
    color: #000;

    font-family: "Open sans", calibri, sans-serif;
}

#main {
    min-height: 100%;

    background-color: #f7f7f7;
}

body.mobile #main {
    width: 100%;
}

body:not(.mobile) #main {
    margin: 100px;
    margin-top: 0;

    border-radius: 10px;
    box-shadow: 0 0 25px #0003;
}

h1 {
    margin: 100px 0 20px 0;
    font-size: 3rem;

    filter: drop-shadow(0 0 10px #0007);

    text-align: center;
    font-weight: bold;
    color: #fff;
}

body.mobile h1 {
    margin: 20px 0;
}

.tile {
    position: relative;

    display: flex;
    align-items: center;
    gap: 30px;

    margin: 10px;
    padding: 20px;

    box-sizing: border-box;

    background-color: var(--bg-tile);
    border-radius: 7px;
}

.tile:not(.disabled) {
    border: 2px solid #c9ebd9;
    background-color: #fff;
}

.tile.disabled {
    background-color: #eee;
    color: #555;
}

body:not(.mobile) .tile {
    width: 700px;
}

.tile .img, #pfp {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

#pfp {
    max-width: 8rem;
    max-height: 8rem;
}

:is(.tile .img, #pfp) div {
    border-radius: 15px;
    box-shadow: 0 0 15px #0005;
    overflow: hidden;

    width: 6rem;
    height: 6rem;

    background-image: url("/no_pfp.png");
    background-size: contain;
}

.tile .img img, #pfp img {
    width: 100%;
}

.tile.disabled img {
    filter: grayscale(1);
}

:is(.tile .img, #pfp):has(.crown)::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    transform: translate(-45%, -70%) rotate(-30deg);
    width: 3rem;
    height: 3rem;

    background: url("/crown.png");
    background-size: contain;
}

.tile strong {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
}

.bar, #login-popup label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}

.bar>div {
    position: relative;

    width: 100%;
    height: 0.6rem;

    border-radius: 4px;

    background-color: #ccc;
}

.bar>div::after {
    content: "";

    position: absolute;
}

.disabled .bar>div::after {
    content: unset;
}

.bar>div::after, .slider::before {
    width: var(--percent);
    height: 100%;

    box-sizing: border-box;

    border: 1px solid #dbbd6c;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.8rem #0002;

    background-color: #fdde18;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.tile .right {
    width: 100%;
}

.rank {
    width: 3.5rem;
    height: 3.5rem;

    box-shadow: 0 0 10px var(--color);
    border-radius: 0.5rem;
    background-color: var(--color);

    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
}

body:not(.mobile) .rank {
    position: absolute;
    top: 20px;
    right: 20px;
}

body.mobile .rank {
    position: relative;
}

.rank::after {
    content: var(--content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.button {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;

    border: 2px solid #73bb73;
    border-radius: 1rem;

    background-color: #fff;
    color: #165118;
    font-weight: bold;
    text-align: center;
}

p.button:hover {
    cursor: pointer;
}

p.button:active {
    background-color: #dde5e1;
}

#main>:is(p, a) {
    font-size: 1rem;
    text-align: center;
}

#main>p {
    margin: 20px;
    font-weight: bold;
}

#main>a {
    margin-bottom: 10px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    align-items: end;
    justify-content: center;
}

body:has(.popup.show) {
  overflow: hidden;
}

.popup.show {
    display: flex;
    animation: slide 0.8s normal forwards;
}

.popup.hide {
    display: flex;
    animation: slide 0.4s reverse forwards;
}

.popup>div {
    position: relative;

    min-width: 100px;
    height: calc(100% - 100px);

    overflow: hidden auto;

    padding: 30px;
    box-sizing: border-box;

    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px #0005;
    background-color: #f7f7f7;
}

body.mobile .popup>div {
    width: 100%;
}

body:not(.mobile) .popup>div {
    width: 700px;
    border-radius: 10px;
}

body.mobile #votePopup>div {
    --bannerH: 200px;
}

body:not(.mobile) #votePopup>div {
    --bannerH: 400px;
}

body:not(.mobile) #buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#banner {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: var(--bannerH);
}

#banner img {
    width: 100%;
}

#name-container {
    position: absolute;
    top: var(--bannerH);
    left: 20px;
    transform: translateY(-50%);

    display: flex;
    gap: 20px;

    width: calc(100% - 20px);
}

#main>a, #links a {
    display: block;
    margin-bottom: 0.5rem;

    color: #6190cb;

    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

:is(#main>a, #links a):hover {
    text-decoration: underline;
}

#top-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

#name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    filter: drop-shadow(0 0 5px #000);
}

#voters {
    font-size: 1.2rem;
    margin: 0;
}

#top-spacing {
    height: calc(var(--bannerH) + 70px);
}

#votePopup h3 {
    font-size: 1.5rem;
}

#votePopup span:not(.bar) {
    font-size: 1rem;
}

.slider {
    position: relative;

    cursor: pointer;

    margin: 1.2rem 0 2rem 0;
    width: 100%;
    height: 0.8rem;

    border-radius: 0.4rem;
    background-color: #bbb;
}

.slider::before {
    content: "";

    position: absolute;
}

.slider::after {
    content: var(--grade);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: var(--percent);
    top: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;

    width: 1.7rem;
    height: 1.7rem;

    border-radius: 50%;
    background-color: #ededea;
    border: 2px solid #534f46;

    font-weight: bold;
}

#largeImage {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #fff7;
}

#largeImage div {
    width: 100%;
    height: 100%;

    background: var(--image);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#login-popup>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h2 {
    margin: 0;
    margin-top: 30px;

    font-size: 2.5rem;
    font-weight: bold;
}

#login-popup h3 {
    margin: 20px 0 10px 0;
}

#login-popup form {
    max-width: 100%;
    width: 250px;
}

#login-popup label {
    display: block;
}

#login-popup input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    background-color: #fff;
    border: 1px solid #0007;
    border-radius: 10px;
    font-family: "Open sans", calibri, sans-serif;
    font-size: 0.8rem;
}

#login-popup label {
    margin-top: 5px;
}

#login-popup .error {
    text-align: center;
    color: #c34545;
}

#login-popup a {
    display: block;
    text-decoration: none;
    cursor: pointer;

    width: 100%;

    text-align: center;
}

#login-popup a.button {
    transition: 0.2s linear;

    margin-top: 20px;

    min-width: 10rem;
    padding: 8px;
    box-sizing: border-box;

    --col: #23609b;
    border: 1px solid var(--col);
    border-radius: 2rem;
    background-color: #fff;
    color: var(--col);
}

#login-popup a.button:hover {
    background-color: var(--col);
    color: #fff;
}

#login-popup a.small {
    margin-top: 10px;

    font-size: 0.8rem;
    color: #23609b;
}

#login-popup a.small:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f7f7f7;
    border: 1px solid #0005;
    border-radius: 5px;
}
